<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" type="text/css" href="/asserts/css/dashboard_style.css" /> -->
    <title>Register</title>
</head>

<style>
    .container-fluid {
        width: 90%;
    }

    .card {
        border: none;
    }

    .form-control {
        border-radius: 25px;
    }

    .btn {
        border-radius: 25px;
        width: 25%;
    }
    .btn-primary{
        background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
        border: none;
    }

    .btn-primary {
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
    }

    .btn-primary:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
    }
    .navbar{
        background-image: linear-gradient(to right, #DA22FF 0%, #DA22FF 43%, #9733EE 100%);
        color: white;
    }
    .navbar a{
        color: white;
    }
</style>

<body>



    <nav class="navbar vertical-center">
        <div class="container-fluid">
            <a class="navbar-brand vertical-center" href="#">
                <img src="https://i.imgur.com/IxnB3RV.png" height="50" width="150" alt="" loading="lazy" />
            </a>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mr-5">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>
        </div>

    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-6">
                <img src="https://i.imgur.com/idM0Ut8.png" width="100%" height="100%" />
            </div>
            <div class="col-md-6" style="margin: auto auto">
                <!-- <div class="row mt-5"> -->
                <!-- <div class="col-md-6 m-auto"> -->
                <div class="card card-body">
                    <h1 class="text-center mb-3">
                        <i class="fas fa-user-plus"></i> Register
                    </h1>
                    <%- include ../partials/messages %>
                        <form action="/users/register" method="POST">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name"
                                    value="<%= typeof name != 'undefined' ? name : '' %>" />
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" class="form-control"
                                    placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>" />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" class="form-control"
                                    placeholder="Create Password"
                                    value="<%= typeof password != 'undefined' ? password : '' %>" />
                            </div>
                            <div class="form-group">
                                <label for="password2">Confirm Password</label>
                                <input type="password" id="password2" name="password2" class="form-control"
                                    placeholder="Confirm Password"
                                    value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" style="border-radius: 25px;">
                                Register
                            </button>
                        </form>
                        <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
                </div>
                <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>