<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />

    <title>Dashboard</title>
    <link rel="icon" href="https://i.imgur.com/IxnB3RV.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
</head>
<style>
    .container-fluid {
        width: 90%;
    }

    .card {
        border-radius: 30px;
        background: white;
        box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
        /* padding: 1rem 2rem 1rem 5rem; */
        background: -webkit-gradient(linear,
                0 0,
                0 100%,
                from(#d9eaf3),
                color-stop(4%, #fff)) 0 1px;
        /* background-size: 100% 3rem; */
        position: relative;
        /* line-height: 3rem; */
    }

    .card button {
        border-radius: 50px;
        margin-left: 2px;
        height: max-content;
    }

    .card button:hover {
        background-color: #a258ed;
        border: none;
    }
    .formWrapper{
        display: flex;
    }
    .btn-primary{
        background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
        border: none;
    }

    .btn-primary {
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
    }

    .btn-primary:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
    }
    .navbar{
        background-image: linear-gradient(to right, #DA22FF 0%, #DA22FF 43%, #9733EE 100%);
        color: white;
    }
    .navbar a{
        color: white;
    }
    
</style>

<body>
    <nav class="navbar navbar-expand">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <a class="navbar-brand vertical-center" href="#">
                <img src="https://i.imgur.com/IxnB3RV.png" height="50" width="100" alt="" loading="lazy" />
            </a>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarRightAlignExample" aria-controls="navbarRightAlignExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarRightAlignExample">
                <!-- Left links -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard">Record</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard/speeches">Your Speeches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/users/logout">LogOut</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="align-right mt-4">
                <h4>YOUR Saved Speeches</h4>
            </div>
            <% var test = 0; %>
            <% allSpeech.forEach(function(allSpeech){ %>
            <% test++ %>

            <!-- CARD FOR SPEECH BEGINS -->
            <div class="col-lg-4">
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title"><%= allSpeech.Speechname%></h5>
                        <p class="card-text"><%= allSpeech.Speech%></p>
                        <div class="formWrapper">
                        <form action="/dashboard/signlanguage" method="GET">
                            <button class="btn btn-primary"  type="submit" name="signlanguage" id="signlanguage" value="<%= allSpeech._id%>">
                                Convert to Sign
                            </button>
                        </form>


                        <form action="/dashboard/editspeech" method="GET">
                            <button class="btn btn-primary"  type="submit" name="editspeech" id="editspeech" value="<%= allSpeech._id%>">
                                Edit This Speech
                            </button>
                        </form>




                        <form action="/dashboard/delspeech" method="POST">
                            <button class="btn btn-primary"  type="submit" name="delSpeech" id="delSpeech" value="<%= allSpeech._id%>">
                                Delete This Speech
                            </button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
            <!-- CARD FOR SPEECH ENDS -->
            <% }); %>
            <% if(test == 0) { %>
                <h4 style="text-align: center;color: red">You do not have any Speeches!</h4>
                <h5 style="text-align: center;color: green">Save using Record tab</h5>
              <% } %>



        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
        -->
</body>

</html>
